.about-container {
  margin: 4rem -25vw 0 0;
  padding-right: 1rem;

  li {
    list-style: none;
    margin: 0 0 4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    color: var(--blue);
    text-decoration: none;

    img {
      flex: 0 0 auto;
      width: 22rem;
      height: 32rem;
      display: block;
      margin-right: 2rem;
    }

    strong {
      font-size: 2rem;
      line-height: 1.1;
    }
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    margin-right: -4rem;
    padding-right: 0;

    a {
      display: block;
      img {
        width: 8rem;
        height: 8rem;
        margin-right: 2rem;
      }

      strong {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .about-container {
    margin-right: 0;

    a {
      display: block;

      img {
        margin: 0 auto 1rem 0;
      }

      strong {
        font-size: 2rem;
      }
    }
  }
}
